.rowWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    border-bottom: 1px solid #e0e0e0;
}

.rowWrapper > div {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}
.rowWrapper * {
    margin: 0;
}